USE [GymPlatform]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[DuracionPredeterminadaMin] [int] NOT NULL,
	[Color] [varchar](20) NULL,
	[EstaActivo] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosMembresia]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosMembresia](
	[Id] [tinyint] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gimnasios]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gimnasios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[EmailContacto] [varchar](100) NULL,
	[TelefonoContacto] [varchar](50) NULL,
	[SitioWeb] [varchar](200) NULL,
	[Facebook] [varchar](100) NULL,
	[Instagram] [varchar](100) NULL,
	[Twitter] [varchar](100) NULL,
	[Whatsapp] [varchar](50) NULL,
	[EstaActivo] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
	[ModificadoEn] [datetimeoffset](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilesInstructor]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesInstructor](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilesSocio]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesSocio](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[PlanMembresiaId] [uniqueidentifier] NULL,
	[EstadoMembresia] [tinyint] NOT NULL,
	[FechaNacimiento] [date] NULL,
	[CreditosDisponibles] [int] NOT NULL,
	[CreditosUltimaActualizacion] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanesMembresia]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanesMembresia](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[PeriodoFacturacionDias] [int] NOT NULL,
	[CreditosMensuales] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantillasClase]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantillasClase](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[ActividadId] [uniqueidentifier] NOT NULL,
	[InstructorId] [uniqueidentifier] NULL,
	[UbicacionId] [uniqueidentifier] NULL,
	[HoraInicioLocal] [time](7) NULL,
	[DuracionMinutos] [int] NOT NULL,
	[MaximoCupos] [int] NULL,
	[EstaActiva] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[SesionClaseId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
	[EstadoReservacion] [tinyint] NOT NULL,
	[CanceladoEn] [datetimeoffset](7) NULL,
	[EstaEliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SesionesClase]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SesionesClase](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[PlantillaClaseId] [uniqueidentifier] NULL,
	[ActividadId] [uniqueidentifier] NOT NULL,
	[InstructorId] [uniqueidentifier] NULL,
	[UbicacionId] [uniqueidentifier] NULL,
	[Inicio] [datetimeoffset](7) NOT NULL,
	[Fin] [datetimeoffset](7) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[AsientosReservados] [int] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[EstaEliminado] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
	[ModificadoEn] [datetimeoffset](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[CapacidadPorDefecto] [int] NULL,
	[Piso] [varchar](50) NULL,
	[Descripcion] [varchar](300) NULL,
	[EstaActivo] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellido] [varchar](80) NULL,
	[Telefono] [varchar](30) NULL,
	[HashPassword] [varchar](200) NULL,
	[CorreoConfirmado] [bit] NOT NULL,
	[CreadoEn] [datetimeoffset](7) NOT NULL,
	[ModificadoEn] [datetimeoffset](7) NULL,
	[UltimoIngreso] [datetimeoffset](7) NULL,
	[EstaEliminado] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRoles]    Script Date: 5/11/2025 13:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRoles](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[RolId] [uniqueidentifier] NOT NULL,
	[GimnasioId] [uniqueidentifier] NOT NULL,
	[AsignadoEn] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actividades] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Actividades] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Actividades] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[Gimnasios] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Gimnasios] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Gimnasios] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[PerfilesInstructor] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[PerfilesSocio] ADD  DEFAULT ((0)) FOR [EstadoMembresia]
GO
ALTER TABLE [dbo].[PerfilesSocio] ADD  DEFAULT ((0)) FOR [CreditosDisponibles]
GO
ALTER TABLE [dbo].[PlanesMembresia] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[PlanesMembresia] ADD  DEFAULT ((0)) FOR [CreditosMensuales]
GO
ALTER TABLE [dbo].[PlanesMembresia] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[PlanesMembresia] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[PlantillasClase] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[PlantillasClase] ADD  DEFAULT ((1)) FOR [EstaActiva]
GO
ALTER TABLE [dbo].[PlantillasClase] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ((0)) FOR [EstadoReservacion]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ((0)) FOR [EstaEliminado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[SesionesClase] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[SesionesClase] ADD  DEFAULT ((0)) FOR [AsientosReservados]
GO
ALTER TABLE [dbo].[SesionesClase] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[SesionesClase] ADD  DEFAULT ((0)) FOR [EstaEliminado]
GO
ALTER TABLE [dbo].[SesionesClase] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [CorreoConfirmado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [EstaEliminado]
GO
ALTER TABLE [dbo].[UsuariosRoles] ADD  DEFAULT (sysdatetimeoffset()) FOR [AsignadoEn]
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD  CONSTRAINT [FK_Actividades_Gimnasios] FOREIGN KEY([GimnasioId])
REFERENCES [dbo].[Gimnasios] ([Id])
GO
ALTER TABLE [dbo].[Actividades] CHECK CONSTRAINT [FK_Actividades_Gimnasios]
GO
ALTER TABLE [dbo].[PerfilesInstructor]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesInstructor_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[PerfilesInstructor] CHECK CONSTRAINT [FK_PerfilesInstructor_Usuarios]
GO
ALTER TABLE [dbo].[PerfilesSocio]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesSocio_Estado] FOREIGN KEY([EstadoMembresia])
REFERENCES [dbo].[EstadosMembresia] ([Id])
GO
ALTER TABLE [dbo].[PerfilesSocio] CHECK CONSTRAINT [FK_PerfilesSocio_Estado]
GO
ALTER TABLE [dbo].[PerfilesSocio]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesSocio_Planes] FOREIGN KEY([PlanMembresiaId])
REFERENCES [dbo].[PlanesMembresia] ([Id])
GO
ALTER TABLE [dbo].[PerfilesSocio] CHECK CONSTRAINT [FK_PerfilesSocio_Planes]
GO
ALTER TABLE [dbo].[PerfilesSocio]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesSocio_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[PerfilesSocio] CHECK CONSTRAINT [FK_PerfilesSocio_Usuarios]
GO
ALTER TABLE [dbo].[PlanesMembresia]  WITH CHECK ADD  CONSTRAINT [FK_PlanesMembresia_Gimnasios] FOREIGN KEY([GimnasioId])
REFERENCES [dbo].[Gimnasios] ([Id])
GO
ALTER TABLE [dbo].[PlanesMembresia] CHECK CONSTRAINT [FK_PlanesMembresia_Gimnasios]
GO
ALTER TABLE [dbo].[PlantillasClase]  WITH CHECK ADD  CONSTRAINT [FK_PlantillasClase_Actividades] FOREIGN KEY([ActividadId])
REFERENCES [dbo].[Actividades] ([Id])
GO
ALTER TABLE [dbo].[PlantillasClase] CHECK CONSTRAINT [FK_PlantillasClase_Actividades]
GO
ALTER TABLE [dbo].[PlantillasClase]  WITH CHECK ADD  CONSTRAINT [FK_PlantillasClase_Ubicaciones] FOREIGN KEY([UbicacionId])
REFERENCES [dbo].[Ubicaciones] ([Id])
GO
ALTER TABLE [dbo].[PlantillasClase] CHECK CONSTRAINT [FK_PlantillasClase_Ubicaciones]
GO
ALTER TABLE [dbo].[PlantillasClase]  WITH CHECK ADD  CONSTRAINT [FK_PlantillasClase_Usuarios_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[PlantillasClase] CHECK CONSTRAINT [FK_PlantillasClase_Usuarios_Instructor]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_SesionesClase] FOREIGN KEY([SesionClaseId])
REFERENCES [dbo].[SesionesClase] ([Id])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_SesionesClase]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Usuarios]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Gimnasios] FOREIGN KEY([GimnasioId])
REFERENCES [dbo].[Gimnasios] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Gimnasios]
GO
ALTER TABLE [dbo].[SesionesClase]  WITH CHECK ADD  CONSTRAINT [FK_SesionesClase_Actividades] FOREIGN KEY([ActividadId])
REFERENCES [dbo].[Actividades] ([Id])
GO
ALTER TABLE [dbo].[SesionesClase] CHECK CONSTRAINT [FK_SesionesClase_Actividades]
GO
ALTER TABLE [dbo].[SesionesClase]  WITH CHECK ADD  CONSTRAINT [FK_SesionesClase_Plantillas] FOREIGN KEY([PlantillaClaseId])
REFERENCES [dbo].[PlantillasClase] ([Id])
GO
ALTER TABLE [dbo].[SesionesClase] CHECK CONSTRAINT [FK_SesionesClase_Plantillas]
GO
ALTER TABLE [dbo].[SesionesClase]  WITH CHECK ADD  CONSTRAINT [FK_SesionesClase_Ubicaciones] FOREIGN KEY([UbicacionId])
REFERENCES [dbo].[Ubicaciones] ([Id])
GO
ALTER TABLE [dbo].[SesionesClase] CHECK CONSTRAINT [FK_SesionesClase_Ubicaciones]
GO
ALTER TABLE [dbo].[SesionesClase]  WITH CHECK ADD  CONSTRAINT [FK_SesionesClase_Usuarios_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[SesionesClase] CHECK CONSTRAINT [FK_SesionesClase_Usuarios_Instructor]
GO
ALTER TABLE [dbo].[Ubicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Ubicaciones_Gimnasios] FOREIGN KEY([GimnasioId])
REFERENCES [dbo].[Gimnasios] ([Id])
GO
ALTER TABLE [dbo].[Ubicaciones] CHECK CONSTRAINT [FK_Ubicaciones_Gimnasios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Gimnasios] FOREIGN KEY([GimnasioId])
REFERENCES [dbo].[Gimnasios] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Gimnasios]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Roles]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Usuarios]
GO
